<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
            <link rel="stylesheet" href="../static/css/bootstrap.min.css">
            <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
        </head>
        <body>
            <div class="container-fluid" style="height: 100vh">
                <nav class="navbar navbar-light bg-faded">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </nav>
                <div class="col-sm-4" style="height: 100vh">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                                Start Bootstrap
                            </a>
                        </li>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="#">Shortcuts</a>
                        </li>
                        <li>
                            <a href="#">Overview</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <h2>Content for My App</h2>
                    <p>Stuff etc etc.</p></div>
                <div class="row">
                    
                </div>
                
            </div>
            <script src="../static/bootstrap.min.js" type="text/javascript"></script>
        </body>
    </html>