{% extends "base.html" %}
{% block title %}
  Registro De Escritor
{% endblock %}
{% block innerContents%}
    {% include "success_messages.html" %}
    {% include "error_messages.html" %}
	<form method="post"> 
		{% csrf_token %}
		<div class="col-xs-4">
			<div class="form-group">
				{% if form.errors %}
                    <p style="color='{{ color }}'">{{ form.errors }}</p>
                {% endif %}
			</div>
			<div class="form-group">
			    <div>
                    <p>{{form.username.label}}</p>
                </div>
                <div>
                    {{ form.username }}
                </div>
            </div>
			<div class="form-group">
			    <div>
                    <p>{{form.email.label}}</p>
                </div>
                <div>
				    {{ form.email }}
				</div>
			</div>
			{% if not request.user.is_authenticated %}
			<div class="form-group">
			    <div>
			        <p>{{form.password1.label}}</p>
		        </div>
		        <div> 
				    {{ form.password1 }}
				</div>
			</div>
			<div class="form-group">
			    <div>
		            <p>{{form.password2.label}}</p>
		        </div>
		        <div>
				    {{ form.password2 }}
				</div>
			</div>
			{% endif %}
		</div>
		<div class="col-xs-4 ">
			<div class="form-group">
			    <div>
	                <p>{{form.first_name.label}}</p>
	            </div>
	            <div>
				    {{ form.first_name }}
				</div>
			</div>
			<div class="form-group">
			    <div>
			        <p>{{form.last_name.label}}</p>
			    </div>
			    <div>
				    {{ form.last_name }}
				</div>
			</div>
			<div class="form-group">
			    <div>
			        <p>{{form.pseudonym.label}}</p>
			    </div>
			    <div>
				    {{ form.pseudonym }}
				</div>
			</div>
			{% if not request.user.is_authenticated %}
			<div style="color:#0000FF">
				<input type="submit" value="Registrar" class="btn btn-primary"/>
			</div>
			{% else %}
			<div style="color:#0000FF">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary"/>
            </div>
			{% endif %}
		</div>
	</form>
{% endblock %}