{% extends "base.html" %}
{% block title %}
  Writing App
{% endblock %}
{% block innerContents%}
	<form method="post">
		{% csrf_token %}
		<div style="color:#0000FF">
			<div style="color:#0000FF">
				<p>REGISTER_WRITER</p>
				{% if message %}
                    <p>{{ message }}</p>
                {% endif %}
				{% if registerForm.errors %}
                    <p style="color='{{ color }}'">{{ registerForm.errors }}</p>
                {% endif %}
			</div>
			<div style="color:#0000FF">
                <p>{{registerForm.username.label}}</p>
                {{ registerForm.username }}
            </div>
			<div style="color:#0000FF">
                <p>{{registerForm.email.label}}</p>
				{{ registerForm.email }}
			</div>
			<br>
			<div style="color:#0000FF">
			    <p>{{registerForm.password1.label}}</p>
				{{ registerForm.password1 }}
			</div>
			<br>
			<div style="color:#0000FF">
		        <p>{{registerForm.password2.label}}</p>
				{{ registerForm.password2 }}
			</div>
			<br>
			<div style="color:#0000FF">
		        <p>{{registerForm.first_name.label}}</p>
				{{ registerForm.first_name }}
			</div>
			<br>
			<div style="color:#0000FF">
			    <p>{{registerForm.last_name.label}}</p>
				{{ registerForm.last_name }}
			</div>
			<br>
			<div style="color:#0000FF">
			    <p>{{registerForm.pseudonym.label}}</p>
				{{ registerForm.pseudonym }}
			</div>
			<br>
			<div style="color:#0000FF">
				<input type="submit" value="Registrar" value="Registrar" class="btn btn-primary"/>
			</div>
		</div>
	</form>
{% endblock %}