{% extends "base.html" %} 
{% block title %} Articles {% endblock %}
{% block extra_js%} {% load static %}
<script src="{% static 'js/jquery.form.js'%}"></script>
{% endblock %} {% block innerContents%}
<form method="post">
	<!-- Aun no estoy claro de que hace esto pero lo necesita -->
	{% csrf_token %}
	<div style="color: #0000FF">
		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="modalcontent"></div>
		</div>
			<!-- Iteramos sobre la lista de objetos recibidas del view -->
			{% for article in object_list %}
			<div class="list-group">
				<div class="list-group-item">
					<a data-toggle="modal" data-target="#modal" title="detail item" data-tooltip href="#" 
						onclick="modal_link('{% url 'article_detail' article.id %}')">{{article.name }}</a>
				</div>
				<div class="list-group-item">
				    {{article.content }}
				</div>
				<div class="list-group-item">
	                <a data-toggle="modal" data-target="#modal" title="edit item" data-tooltip href="#" 
                        onclick="modal_link('{% url 'article_edit' article.id %}')" data-tooltip>
                        <button type="button" class="btn btn-default">Editar</button>
                    </a> 
                        <a data-toggle="modal" data-target="#modal" title="delete item" data-tooltip href="#"  
                        onclick="modal_link('{% url 'article_delete' article.id %}')">
                        <button type="button" class="btn btn-default">Eliminar</button>
                        </a>
	            </div>
			</div>
			{% endfor %}
	</div>
</form>

<script>

function modal_link(url_data){
	$('#modal').on('show.bs.modal', function (event) {
	
		var modal = $(this);

		$.ajax({
			url: url_data,
			context: document.body
			}).done(function(response) {
				modal.find('.modalcontent').html(response);	
// 			modal.html(response);
			});
	})
}

</script>
{% endblock %}

{% block sidebar%}
    <li>
        <a class="list-group-item" data-toggle="modal" data-target="#modal"
        title="edit item" data-tooltip href="#" onclick="modal_link('{% url 'article_new' %}')">New</a>
    </li>
{% endblock %}