{% load static %}

<script src="{% static 'js/jquery-3.1.1.min.js'%}"
	type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js'%}" type="text/javascript"></script>

<div style="color:black" class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">
			    <strong>
			        <p>{{ article.name }}</p>
		        </strong>
	        </h4>
	        <div>
                <p>{{ article.writer.first_name }} {{ article.writer.last_name }}</p>
            </div>
		</div>
		<div class="modal-body">
			{% csrf_token %}
			<div>
				<div>
                    <p>{{ article.content }}</p>
                </div>
			</div>
			<div class="modal-footer">
			    <div>
                    <p>{{ article.creationDate }}</p>
                </div>
				<input type="button" class="btn btn-default" data-dismiss="modal"
					value="Cerrar" />
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->