{% extends "base.html" %}
{% block title %}
  Inicio De Sesion
{% endblock %}
{% block innerContents%}
	{% include "success_messages.html" %} 
    {% include "error_messages.html" %}
	
   <form method="post" action="{% url 'login' %}">
	   {% csrf_token %}
	   <div>
            <div class="form-group">
                {% if form.errors %}
                    <p style="color='{{ color }}'">{{ form.errors }}</p>
                {% endif %}
            </div>
            <div class="form-group">
                <div>
                    <p>{{ form.username.label_tag }}</p>
                </div>
                <div>
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group">
                <div>
                    <p>{{ form.password.label_tag }}</p>
                </div>
                <div>
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input class="btn btn-primary" type="submit" value="Iniciar Sesion" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <p><a href="{% url 'password_reset' %}">¿Perdio Su Contraseña?</a></p>
                </div>
            </div>
        </div>
	</form>
	
	
	
	
{% endblock %}