{% extends "base.html" %}
{% block title %}
  Inicio De Sesion
{% endblock %}
{% block innerContents%}
	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	
	{% if next %}
	    {% if user.is_authenticated %}
	    <p>Your account doesn't have access to this page. To proceed,
	    please login with an account that has access.</p>
	    {% else %}
	    <p>Please login to see this page.</p>
	    {% endif %}
	{% endif %}
	
	
	<table>
	   <form method="post" action="{% url 'login' %}">
	   {% csrf_token %}
	   <br>
		<tr>
		    <td>{{ form.username.label_tag }}</td>
		</tr>
		<tr>
		    <td>{{ form.username }}</td>
		</tr>
		<tr>
		    <td>{{ form.password.label_tag }}</td>
		</tr>
		<tr>
		    <td>{{ form.password }}</td>
		</tr>
		<tr>
            <td><input type="submit" value="login" /></td>
        </tr>
        <tr>
            <td><input type="hidden" name="next" value="{{ next }}" /></td>
        </tr>
        </form>
        <tr>
		{# Assumes you setup the password_reset view in your URLconf #}
	       <td><p><a href="{% url 'password_reset' %}">Lost password?</a></p></td>
	    </tr>
	</table>
	
	
	
	
	
{% endblock %}