.form-box {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border-width: 1px;
  border-style: ridge;
  border-color: black;
}

.navbar-blog {
  color: white;
  background-color: yellow;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  border-width: 1px;
  border-style: ridge;
  border-color: black;
}


.sidebar-blog {
  color: white;
  background-color: black;
  border-width: 1px;
  border-style: ridge;
  border-color: black;
}

a.navbar-blog{
  color: white;
}
p.navbar-blog{
  color: white;
}

p.sidebar-blog{
  color: white;
}
li.sidebar-blog{
  color: white;
}
a.sidebar-blog{
  color: white;
}

.form-box {
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: ridge;
  border-color: black;
}
